<ion-view can-swipe-back="false" >
  <ion-content scroll="true" class="padding text-center background">
    	
    	<div class="row row-center vertical_center">
	       
			<div class="col col-center list">
		        <ion-list list-inset>
		        	<ion-item ng-repeat="view in views"> 
		        		<a ui-sref="{{view.toLowerCase()}}" class="item item-icon-left item-icon-right more-item"> {{view}} </a>
		        	</ion-item>
		        </ion-list>
	        </div>

	    </div>
  </ion-content>
</ion-view>
