<ion-view >
  <ion-content class="table" scroll="false" zooming="true" class="padding">
    
    <div id="player_menu" class="hidden"><button ng-click="serve_card()">Serve</button><button ng-click="menu_click_event('player','game_menu')">Game Menu</button><button ng-click="menu_click_event('player','exit')">Exit</button></div>

    <div id="game_menu">
    	<button ng-click="shuffle_cards()">Shuffle</button>
    	<button ng-click="distribute_cards()">Distribute</button>
    	<button ng-click="deck.flip()">Flip Cards</button>
    	<button ng-click="deck.fan()">Fan</button>
    	<button ng-click="menu_click_event('game','card_menu')">Card Menu</button>
    	<button ng-click="menu_click_event('game','exit')">Exit</button>
	</div>

    <div ng-click="pause_game()" class="pause_btn"></div>
    
    <div id="topbar"></div>
    <div id="container"></div>
    <div id="tabledeck"></div>
    
  </ion-content>  
</ion-view>
