<ion-view >
  <ion-content scroll="false" zooming="true" class="padding">
    
    <div id="topbar"></div>

    <div class="div_action_buttons" style="width:300px;" ng-show="toogle_card_action">
  		<div class="button-bar bar-dark action_buttons" >
		  <a class="button">Play</a>
		  <a class="button">Drop</a>
		  <a class="button">hide</a>
		</div>
	</div>

    <div id="usersbar" style="text-align:center;">
    	<!-- <img class="avatar" width="80px" height="80px" src="http://www.marketplace.co.tz/data/photos/1343467347_ns.jpg"/>
    	<img class="avatar" width="80px" height="80px" src="http://www.marketplace.co.tz/data/photos/1343467347_ns.jpg"/>
    	<img class="avatar" width="80px" height="80px" src="http://www.marketplace.co.tz/data/photos/1343467347_ns.jpg"/>
    	<img class="avatar" width="80px" height="80px" src="http://www.marketplace.co.tz/data/photos/1343467347_ns.jpg"/>
    	<img class="avatar" width="80px" height="80px" src="http://www.marketplace.co.tz/data/photos/1343467347_ns.jpg"/>
    	<img class="avatar" width="80px" height="80px" src="http://www.marketplace.co.tz/data/photos/1343467347_ns.jpg"/> -->
    </div>
    
    <div id="container"></div>
    
  </ion-content>  
</ion-view>
