<ion-view>
  <ion-content scroll="false" class="padding text-center background">
    	
    	<div class="row row-center vertical_center">
	        <div class="col col-center list">
	          	<div class="card padding"><h4> Scan to Join Game!</h4> <hr/>
				  <div class="item-text-wrap padding">
				    	<button class="button button-block button-negative" ng-disabled="false" ui-sref="login" ng-click="scanBarcode()">
					            Click me 😃
				      	</button>
				  </div>
				</div>
	        </div>
	    </div>

    	
    
  </ion-content>
</ion-view>
