<ion-view can-swipe-back="false" class="bg_cardfront">
  <ion-content scroll="false" class="padding text-center">
    	
    	<div class="row row-center vertical_center">
	        <div class="col col-center list">
	          	<div class="card padding" style="background:#202020; opacity:0.9;"><h4 style="color:white;"> Scan to Join Game!</h4> <hr/>
				  <div class="item-text-wrap padding">
				    	<button style="background:#0d0d0d; opacity:1; color:white;" class="button button-block button-negative" ng-disabled="false" ui-sref="login" ng-click="scanBarcode()">
					            Click me 😃
				      	</button>
				  </div>
				</div>
	        </div>
	    </div>

    	
    
  </ion-content>
</ion-view>
