<ion-view view-title="Start as">
  <ion-content scroll="false" class="padding">
    <div class="row row-center">
        <div class="col list">
          <label class="item item-radio card">
            <input type="radio" ng-model="user.type" name="user.type" value="deck"/>
              <div class="radio-content"> <div class="item-content"> Deck </div> <i class="radio-icon ion-checkmark"></i></div>
          </label>
          <label class="item item-radio card">
            <input type="radio" ng-model="user.type" name="user.type" value="player"/>
              <div class="radio-content"> <div class="item-content"> Player </div> <i class="radio-icon ion-checkmark"></i></div>
          </label>
          <button class="button button-block button-negative" ng-disabled="!user.type" ui-sref="home-username" ng-click="select_usertype(user)">
            Continue {{ user.type? ' as '+ user.type:'' }}
          </button>
        </div>
    </div>
  </ion-content>
</ion-view>
