<ion-view view-title="{{ user.name }}">
  <ion-content scroll="false" class="padding">
		<div class="container">
  			<div class="row row-center left1">
		    	<img class="padding col center_card {{ center_card_class }}" on-swipe-up="onSwipeUp()" min-width="12px" height="12px" on-double-tap="toogleCardAction()" ng-src="{{ selected_card }}">
			</div>
		</div>

		<div class="row row-center div_action_buttons">
	  		<div class="button-bar bar-dark action_buttons" ng-show="toogle_card_action">
			  <a class="button">Play</a>
			  <a class="button">Drop</a>
			  <a class="button">hide</a>
			</div>
		</div>
		
		<div class="row div_footer">
	  		<ion-scroll direction="x">
				<img class="box {{ is_selected() }}" ng-repeat="card in playercards" ng-click="select_card(card_maping(card.card))" src="{{ card_maping(card.card).image }}">
			</ion-scroll>
		</div>
    	
  </ion-content>
</ion-view>
