.table{
  background-image:url('../images/table2.png');
  background-repeat:no-repeat;
  /*background-size:contain;*/
  background-position:center;
  background-size: 100%;
  /*margin-top: 5%;*/
  -webkit-background-size: 100% 100% 100% 100%;
  -moz-background-size: 100%;
  
}
.bg_cardback{
  
  background-image:url('../images/bg_card_back.png');
  background-repeat:no-repeat;
  /*background-size:contain;*/
  background-position:center;
  background-size: 100%;

  -webkit-background-size: 100% 100% 100% 100%;
  -moz-background-size: 100%;


}
.bg_cardfront{
  
  background-image:url('../images/bg_card_front.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-size: 100%;

  -webkit-background-size: 100% 100% 100% 100%;
  -moz-background-size: 100%;
  

}

.bg_cardabstract{
  
  background-image:url('../images/bg_card_abstract.png');
  background-repeat:no-repeat;
  /*background-size:contain;*/
  background-position:center;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  

}
.option-button{
    background-image:url('../images/game_button_bg.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-size: 100%;

    -webkit-background-size: 100% 100% 100% 100%;
    -moz-background-size: 100%;
  

}

.button_example{
border:1px solid #2a2c2f; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
 background-image: -webkit-linear-gradient(top, #45484d, #000000);
 background-image: -moz-linear-gradient(top, #45484d, #000000);
 background-image: -ms-linear-gradient(top, #45484d, #000000);
 background-image: -o-linear-gradient(top, #45484d, #000000);
 background-image: linear-gradient(to bottom, #45484d, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}

.button_example:hover{
 border:1px solid #151617;
 background-color: #2d2f32; background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2f32), to(#1a1a1a));
 background-image: -webkit-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -moz-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -ms-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -o-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}
.hidden {
    visibility: hidden;
}

/* header */
.bar.bar-stable {
    background-color: #2196F3;
    color: #2196F3;
}
.bar.bar-stable .title {
    background-color:#2196F3;
    color: #2196F3;
}

/* Supports vertical row center */
.vertical_center {
  height: 100%;
  /*width: 50%;*/
  /*padding:35%;*/
}

.background, .background .pane, .background, .background .item-complex .item-content {
    background-color: #0d0d0d;
      /*background-color: #2196F3;*/
      color: #2196F3;
}
button{
	color: #2196F3;
}

.custom_input { border-color:#ffffff; font-size:28px; padding:10px; border-width:3px; border-radius:8px; background-color:#2195f3; color:#ffffff; border-style:groove; box-shadow: 0px 0px 3px 0px rgba(255,255,255,.75);  } 
.custom_input:focus { outline:none; }

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 128px;
  height: 128px;
  stroke: white;
  fill: white;
}

.div_center_card{
  position:absolute;
  top: 15%;
}

.center_card{
  width:20%;
  height:20%;
   
}
.back_selected{
	border: 4px solid #2195F3;
}
.pause_btn{
  width: 45px;
  height: 45px;
  position: fixed;
  top:5%;
  right: 5%;

  background-image:url('../images/pause.png');
  background-repeat:no-repeat;
  /*background-size:contain;*/
  background-position:center;
  background-size: 100%;

}
.pause_btn:hover{
  background-image:url('../images/pause-hovered.png');
   /*border:2px solid white;*/
  /* border-radius: 50px;*/
  /*padding: 1%;*/

}
.div_action_buttons{
    padding: 20px;
    top:40%; 
    left: 0px;
    right: 0px;
    z-index: 10;
    position: absolute;

}
.game_info{

    background-color: black;
    z-index: 20;
    position: absolute;
    left: 0;
    opacity: 0.70;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.action_buttons{
    
    border: 2px solid #2196F3;
    border-radius: 5px;
    
    z-index:1001;
    float: center;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.div_footer {

  background-color: #5c5c5c;
  text-align: center;
  
  position:absolute;
  bottom:0%;
  
  left:0%;
  right:0%;
  
  opacity: 0.7;

  white-space:nowrap;
  overflow-x:scroll;

}
.box{
    width:20%;
    height:20%;
    padding-top:2%;
    
    margin:2%;
    
    display:inline-block;

}

.bj_card.diamonds.rank2 .face {
  background-image: url("../faces/3_2.svg");
}

.card_selected{
    
    border-top: 4px solid #2196F3;
    
}

.container {
    z-index: 1;
    position:absolute;
    left: 0px;
    right: 0px;

}

draggable-image { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    
}


